@use 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

html {
  font-size: 14px;
}

svg {
  color: variables.$primary-color;
}

a {
  text-decoration: none;
  transition: .4s;

  &:hover {
    color: variables.$primary-color;
  }
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}
